<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /dqclass/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /dqclass/index.php [L]
</IfModule>